@import "node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;


.weatherRow {
    @include grid-row;
    margin: 2% 0;
}

.weekDayBox {
    @include grid-column(10);
    border: solid 2px black;


    @include breakpoint(large) {
        @include grid-column(2);
    }
}

#hidden {
    visibility: hidden;
}

#locationBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}